%h1 List of Startups in #{location_name}
%table
  %thead
    %tr
      %th Name
      %th Description
      %th
  %tbody
    - startups.each do |startup|
      %tr
        %td
          %a{href: startup['homepage_url'], target: '_blank'}= startup['name']
        %td= startup['short_description']
        %td
          %a{href: startup['crunchbase_url'], target: '_blank'} Crunchbase
