!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %title= full_location_name ? "Startups in #{full_location_name} - List of Startups by City" : 'List of Startups by City'
    %link{rel: 'stylesheet', href: 'style.css', type: 'text/css'}
  %body
    -# <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-9888350-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();</script>
    #container
      = sidebar_html
      #content
        - if content_html
          = content_html
        - else
          %h1 List of Startups by City
          %p Select a city to view startups in the area.
      %footer Data provided by the <a href="https://developer.crunchbase.com/">CrunchBase Open Data Map</a>.
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
    %script{src: 'application.js'}
