!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title TODO
    -# <link rel="stylesheet" href="style.css" type="text/css">
    -# <link rel="canonical" href="http://www.schreifels.org/">
    -# <!-- <meta name="description" content=""> -->
  %body
    -# <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-9888350-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();</script>
    %ul
      - startups.each do |country, regions|
        %li
          = country
          %ul
            - regions.each do |region, cities|
              %li
                = region
                %ul
                  - cities.each do |city, startups|
                    %li
                      %a{href: to_path(country, region, city)}= city
                      (#{startups.length})
